<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodpandaclone">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_panda"
        android:label="FoodpandaClone"
        android:roundIcon="@mipmap/ic_launcher_panda"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.CartActivity"></activity>
        <activity android:name=".view.activities.Restaurant_Activity" android:parentActivityName=".view.activities.MainActivity">

        </activity>
        <activity android:name=".view.activities.DeveloperSettings">

        </activity>
        <activity
            android:name=".view.activities.AppSettings"
            android:label="Settings"
            android:parentActivityName=".view.activities.MainActivity" />
        <activity android:name=".view.activities.LocationAccess" />
        <activity android:name=".view.activities.LogoPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.MainActivity" android:label="" >

        </activity>
    </application>

</manifest>