<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodpandaclone">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="foodpandaClone"
        android:roundIcon="@mipmap/foodpanda_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.CartActivity"></activity>
        <activity android:name=".view.activities.Restaurant_Activity" />
        <activity android:name=".view.DeveloperSettings">

        </activity>
        <activity
            android:name=".view.activities.AppSettings"
            android:label="Settings"
            android:parentActivityName=".view.activities.MainActivity" />
        <activity android:name=".view.activities.View_Restaurant_Shops" />
        <activity android:name=".view.activities.Location_Access_Page" />
        <activity android:name=".view.activities.Logo_Page">

        </activity>
        <activity android:name=".view.activities.MainActivity" android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>